<div>
    <h1>Client Login Page</h1>
    <input type="text" id="email" placeholder="email address" />
    <input type="text" id="password" placeholder="password" />
    <button id="loginButton">Login</button>
    <a href="registrationpage">Register</a>
</div>
<%- partial('partials/loginScript')%>