<div class='container'>
    <div style='text-align: center'>
        <h1>Registration Page</h1>
        <input type="text" id="firstName" placeholder="First Name" />
        <input type="text" id="lastName" placeholder="Last Name" /><br>
        <input type="text" id="street1" placeholder="Address Line 1" />
        <input type="text" id="street2" placeholder="Address Line 2" /><br>
        <input type="text" id="city" placeholder="City" />
        <input type="text" id="province" placeholder="Province" />
        <input type="text" id="country" placeholder="Country" /><br>
        <input type="text" id="email" placeholder="Email" /><br>
        <input type="password" id="password" placeholder="Password" />
        <input type="password" id="verifyPassword" placeholder="Verify Password" /><br>
        <button id="registerButton">Register</button>
    </div>
</div>
<%- partial('partials/registerScript')%>
