<div>
    <h1>Registration Page</h1>
    <input type="text" id="firstName" placeholder="First Name" />
    <input type="text" id="lastName" placeholder="Last Name" />
    <input type="text" id="street1" placeholder="Address Line 1" />
    <input type="text" id="street2" placeholder="Address Line 2" />
    <input type="text" id="city" placeholder="City" />
    <input type="text" id="province" placeholder="Province" />
    <input type="text" id="country" placeholder="Country" />
    <input type="text" id="email" placeholder="Email" />
    <input type="text" id="password" placeholder="Password" />
    <input type="text" id="verifyPassword" placeholder="Verify Password" />
    <button id="registerButton">Register</button>
</div>
<%- partial('partials/registerScript')%>
