<div>
    <h1>Configure List of Services</h1>

    <h3>Check the box for the services you are willing to povide</h3>
    <label for="nursing">Nursing</label>
    <input id="nursing" type="checkbox">
    <button id="submit">Submit</button>
</div>
<%- partial('partials/configurationScript')%>