<div id="navbar">
    <button id="myJobs">My Jobs</button>
    <button id="jobList">Job List</button>
</div>

<script>
    $("#myJobs").click(function(event){
        window.location = '/job/myjobspage';
    });

    $("#jobList").click(function(event){
        window.location = '/job/joblistpage';
    });
</script>