<div>
    <button id="client">Client</button>
    <button id="serviceProvider">Service Provider</button>
</div>
<script>
    $("#client").click(function(){
        window.location= '/client/loginpage';
    });
    $("#serviceProvider").click(function(){
        window.location= '/serviceProvider/loginpage';
    });
</script>