<div>
    <h1>Request a Service</h1>

    <select id="serviceDropdown">
        <option value="1">Nursing</option>
    </select>
    <br>
    
    <label for="description">Description</label>
    <input type="text" id="description" placeholder="Description" />
    <br>
    <label for="hour">Hour: </label>
    <select id="hour">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
    </select>
    <label for="minute">minute</label>
    <select id="minute">
        <option value="00">00</option>
        <option value="15">15</option>
        <option value="30">30</option>
        <option value="45">45</option>
    </select>
    <label for="year">Year: </label>
    <input type="text" id="year" placeholder="Year" />
    <label for="month">Month: </label>
    <select id="month">
        <option value="0">January</option>
        <option value="1">February</option>
        <option value="2">March</option>
        <option value="3">April</option>
        <option value="4">May</option>
        <option value="5">June</option>
        <option value="6">July</option>
        <option value="7">August</option>
        <option value="8">September</option>
        <option value="9">October</option>
        <option value="10">November</option>
        <option value="11">December</option>
    </select>
    <label for="day">Day: </label>
    <input type="text" id="day" placeholder="Day" />
    <br>

    <button id="submit">Submit</button>
    
</div>

<script>
    $("#submit").click(function() {
        var e = document.getElementById("serviceDropdown");
        var service = e.options[e.selectedIndex].text;
        var description = $("#description").val();
        var hour = $('#hour').val();
        var minute = $('#minute').val();
        var day = $('#day').val();
        var year = $('#year').val();
        var month = $('#month').val();
        var date = new Date(year, month, day, hour, minute); 

        $.post('/job/create',{
            service: service,
            description: description,
            date: date
        },
        function(res) {
            alert("Service request submitted");
            if(res.redirectTo)
                window.location = res.redirectTo;
        }).fail(function(res) {
            alert("Error: " + res.getResponseHeader("error"));
        });
    });

    $(document).keydown(function(e) {
        if(e.keyCode == 13){
            $("#submit").click();
        }
    });
</script>